{{#partial "content"}}

<h1>Welcome to the Epicodus Album Storage Experience (EASE)</h1>

<p>Add a new Album:</p>
<a href="/add"><button type="button" class="btn btn-default">Add</button></a>


   <h1>Album list!</h1>

   {{#if trackers}} //if posts exist, then
       {{#each trackers }} <!--loop-->
        <p>Current post:</p>
        <p>{{ content }}</p> <!--show-->
       {{/each}}
   {{else}} <!--no posts!-->
    <p>No posts!</p>
   {{/if}}

{{/partial}}

{{> layout.hbs}}